In [167]:
!pip install -r requirements.txt

Requirement already satisfied: osmnx in ./.conda/lib/python3.12/site-packages (from -r requirements.txt (line 1)) (2.0.0)
Requirement already satisfied: requests in ./.conda/lib/python3.12/site-packages (from -r requirements.txt (line 2)) (2.32.3)
Requirement already satisfied: matplotlib in ./.conda/lib/python3.12/site-packages (from -r requirements.txt (line 3)) (3.9.3)
Requirement already satisfied: openmeteo_requests in ./.conda/lib/python3.12/site-packages (from -r requirements.txt (line 4)) (1.3.0)
Requirement already satisfied: requests-cache in ./.conda/lib/python3.12/site-packages (from -r requirements.txt (line 5)) (1.2.1)
Collecting retry-requests (from -r requirements.txt (line 6))
  Using cached retry_requests-2.0.0-py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: geopandas>=1.0 in ./.conda/lib/python3.12/site-packages (from osmnx->-r requirements.txt (line 1)) (1.0.1)
Requirement already satisfied: networkx>=2.5 in ./.conda/lib/python3.12/site-packages (from osmnx->-r requirements.txt (line 1)) (3.4.2)
Requirement already satisfied: numpy>=1.22 in ./.conda/lib/python3.12/site-packages (from osmnx->-r requirements.txt (line 1)) (2.2.0)
Requirement already satisfied: pandas>=1.4 in ./.conda/lib/python3.12/site-packages (from osmnx->-r requirements.txt (line 1)) (2.2.3)
Requirement already satisfied: shapely>=2.0 in ./.conda/lib/python3.12/site-packages (from osmnx->-r requirements.txt (line 1)) (2.0.6)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.conda/lib/python3.12/site-packages (from requests->-r requirements.txt (line 2)) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in ./.conda/lib/python3.12/site-packages (from requests->-r requirements.txt (line 2)) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.conda/lib/python3.12/site-packages (from requests->-r requirements.txt (line 2)) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in ./.conda/lib/python3.12/site-packages (from requests->-r requirements.txt (line 2)) (2024.8.30)
Requirement already satisfied: contourpy>=1.0.1 in ./.conda/lib/python3.12/site-packages (from matplotlib->-r requirements.txt (line 3)) (1.3.1)
Requirement already satisfied: cycler>=0.10 in ./.conda/lib/python3.12/site-packages (from matplotlib->-r requirements.txt (line 3)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.conda/lib/python3.12/site-packages (from matplotlib->-r requirements.txt (line 3)) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.conda/lib/python3.12/site-packages (from matplotlib->-r requirements.txt (line 3)) (1.4.7)
Requirement already satisfied: packaging>=20.0 in ./.conda/lib/python3.12/site-packages (from matplotlib->-r requirements.txt (line 3)) (24.1)
Requirement already satisfied: pillow>=8 in ./.conda/lib/python3.12/site-packages (from matplotlib->-r requirements.txt (line 3)) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./.conda/lib/python3.12/site-packages (from matplotlib->-r requirements.txt (line 3)) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in ./.conda/lib/python3.12/site-packages (from matplotlib->-r requirements.txt (line 3)) (2.9.0.post0)
Requirement already satisfied: openmeteo-sdk>=1.4.0 in ./.conda/lib/python3.12/site-packages (from openmeteo_requests->-r requirements.txt (line 4)) (1.18.0)
Requirement already satisfied: attrs>=21.2 in ./.conda/lib/python3.12/site-packages (from requests-cache->-r requirements.txt (line 5)) (24.2.0)
Requirement already satisfied: cattrs>=22.2 in ./.conda/lib/python3.12/site-packages (from requests-cache->-r requirements.txt (line 5)) (24.1.2)
Requirement already satisfied: platformdirs>=2.5 in ./.conda/lib/python3.12/site-packages (from requests-cache->-r requirements.txt (line 5)) (3.10.0)
Requirement already satisfied: url-normalize>=1.4 in ./.conda/lib/python3.12/site-packages (from requests-cache->-r requirements.txt (line 5)) (1.4.3)
Requirement already satisfied: pyogrio>=0.7.2 in ./.conda/lib/python3.12/site-packages (from geopandas>=1.0->osmnx->-r requirements.txt (line 1)) (0.10.0)
Requirement already satisfied: pyproj>=3.3.0 in ./.conda/lib/python3.12/site-packages (from geopandas>=1.0->osmnx->-r requirements.txt (line 1)) (3.7.0)
Requirement already satisfied: flatbuffers>=24.0.0 in ./.conda/lib/python3.12/site-packages (from openmeteo-sdk>=1.4.0->openmeteo_requests->-r requirements.txt (line 4)) (24.3.25)
Requirement already satisfied: pytz>=2020.1 in ./.conda/lib/python3.12/site-packages (from pandas>=1.4->osmnx->-r requirements.txt (line 1)) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./.conda/lib/python3.12/site-packages (from pandas>=1.4->osmnx->-r requirements.txt (line 1)) (2024.2)
Requirement already satisfied: six>=1.5 in ./.conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib->-r requirements.txt (line 3)) (1.16.0)
Using cached retry_requests-2.0.0-py3-none-any.whl (15 kB)
Installing collected packages: retry-requests
Successfully installed retry-requests-2.0.0

In [ ]:
import matplotlib.pyplot as plt
import pickle

from keys import TOMTOM_API_KEY, TOMTOM_API_KEY2, TOMTOM_API_KEY3
from TomTomAPI import get_traffic_map, plot_traffic_map, get_grid_from_map, get_traffic_map_from_grid

In [ ]:
coordinates = 59.34318, 18.05141 # Stockholm
radius = 1000
zoom = 20

traffic_map = get_traffic_map(TOMTOM_API_KEY2, coordinates, radius, zoom = zoom)

In [ ]:
print(len(traffic_map))
traffic_map = set([str(s) for s in traffic_map])
traffic_map = [eval(s) for s in list(traffic_map)]
print(len(traffic_map))

plot_traffic_map(traffic_map)

In [ ]:
grid = get_grid_from_map(traffic_map)

In [ ]:
traffic_map2 = get_traffic_map_from_grid(TOMTOM_API_KEY2,grid, zoom = zoom)

print(len(traffic_map))
traffic_map = set([str(s) for s in traffic_map])
traffic_map = [eval(s) for s in list(traffic_map)]
print(len(traffic_map))

plot_traffic_map(traffic_map2, name = 'figures/traffic_map2.png')

with open('variables/grid.pickle', 'wb') as file:
    # Serialize and write the variable to the file
    pickle.dump(grid, file)

In [12]:
import numpy as np
import pandas as pd

array = np.random.randn(179, 8)
df = pd.DataFrame(array)
df

,0,1,2,3,4,5,6,7
0,1.578076,0.188707,-0.446415,-0.071862,0.743394,0.798480,0.573711,0.790308
1,-0.098250,-0.086322,-0.888334,-1.190563,1.134179,0.591869,-0.934369,-1.438331
2,-0.031957,0.464210,-1.024624,0.579029,1.523975,1.900521,-0.361872,0.186062
3,0.613524,-0.525425,0.920767,-1.897712,-1.114912,0.587072,0.492039,-0.021251
4,0.968437,-2.361114,-0.911405,0.323171,0.141204,0.171629,-0.025612,0.523317
...,...,...,...,...,...,...,...,...
174,0.336258,0.400963,-0.376917,-0.604440,1.240283,2.002520,1.130273,2.014853
175,-1.148906,-0.548108,-0.225663,0.292338,-0.162993,0.085925,-0.933319,-0.903769
176,-0.221028,0.531104,1.382658,1.422045,-0.867647,1.184698,-1.266294,-1.267984
177,0.705501,0.061915,-0.945412,-0.402543,1.351620,1.306233,-0.837147,-0.208697
178,-0.957965,1.831012,-1.413569,0.912926,-0.231186,-2.439563,0.499832,-0.787734

In [15]:
df = df.drop([1,2,181],errors = 'ignore')
df

,0,1,2,3,4,5,6,7
0,1.578076,0.188707,-0.446415,-0.071862,0.743394,0.798480,0.573711,0.790308
3,0.613524,-0.525425,0.920767,-1.897712,-1.114912,0.587072,0.492039,-0.021251
4,0.968437,-2.361114,-0.911405,0.323171,0.141204,0.171629,-0.025612,0.523317
5,0.199116,1.151800,1.503180,1.200550,0.776602,0.085385,-0.155803,0.198646
6,0.084091,1.196021,-0.525395,-0.546704,-1.015921,2.373813,1.238319,0.874939
...,...,...,...,...,...,...,...,...
174,0.336258,0.400963,-0.376917,-0.604440,1.240283,2.002520,1.130273,2.014853
175,-1.148906,-0.548108,-0.225663,0.292338,-0.162993,0.085925,-0.933319,-0.903769
176,-0.221028,0.531104,1.382658,1.422045,-0.867647,1.184698,-1.266294,-1.267984
177,0.705501,0.061915,-0.945412,-0.402543,1.351620,1.306233,-0.837147,-0.208697
178,-0.957965,1.831012,-1.413569,0.912926,-0.231186,-2.439563,0.499832,-0.787734